<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnCountryInsert").click(function () {
            debugger;
            var obj = {};
            obj.country = $("#txtCountryName").val();
            //alert(obj.country);
            $.ajax({
                type: "POST",
                url: "/ManageEmployee/InsertCountry",
                data: "{'countryname':'" + obj.country + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#txtCountry").empty();
                    $("#txtCountryName").val('');
                    var items = '<option value="">Select Country</option>';
                    $.each(data, function (i, countrylist) {
                        items += "<option value='" + countrylist.Value + "'>" + countrylist.Text + "</option>";
                    });
                    $('#txtCountry').html(items);
                    $('#myModalCountry').modal('hide');
                    $('#myModal').modal('show');
                }
            });
           
        });
        $("#btnCountryClose").click(function () {
            //debugger;
            $('#myModalCountry').modal('hide');
        });
    });
    
</script>

<form>
    <div class="form-group">
        <label>Country</label>
        <input type="text" name="txtCountryName" id="txtCountryName" class="form-control" />
    </div>
    <input type="button" name="btnCountryInsert" value="Insert" id="btnCountryInsert" class="btn btn-default" />
    <input type="button" name="btnCountryClose" value="Close" id="btnCountryClose" class="btn btn-default" />
</form>
