<script type="text/javascript">
    $(document).ready(function () {
        var path = "@Url.Action("BindStateList", "ManageEmployee")";
        $("#txtCountry").change(function () {
            //debugger;
            //var selectitem = $('#txtCountry option:selected').text();
            if (($('#txtCountry option:selected').text() === "Select Country")) {
                $('#txtState').empty();
                var item1 = '<option value="">Select State</option>';
                $('#txtState').html(item1);
            }
            else {
                $('#txtState').empty();
                var items = '<option value="">Select State</option>';
                $.getJSON('/ManageEmployee/BindStateList/' + $('#txtCountry').val(), function (data) {
                    $.each(data, function (i, state) {
                        items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                    });
                    $('#txtState').html(items);
                });
            }
        });

        $("#txtState").change(function () {
            if (($('#txtState option:selected').text() === "Select State")) {
                $('#txtCity').empty();
                var item1 = '<option value="">Select City</option>';
                $('#txtCity').html(item1);
            }
            else {
                $('#txtCity').empty();
                var items = '<option value="">Select City</option>';
                $.getJSON('/ManageEmployee/BindCityList/' + $('#txtState').val(), function (data) {
                    $.each(data, function (i, state) {
                        items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                    });
                    $('#txtCity').html(items);
                });
            }

        });

        $("#btnInsert").click(function () {

            var obj = {};
            obj.city = $("#txtCity").val();
            obj.name = $("#txtName").val();
            obj.mobile = $("#txtMobile").val();
            obj.department = $("#txtDepartment").val();
            $.ajax({
                type: "POST",
                url: "/ManageEmployee/InsertEmployee",
                data: "{'city':'" + obj.city + "','name':'" + obj.name + "','department':'" + obj.department + "','mobile':'" + obj.mobile + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    //debugger;
                    $('#txtName').val('');
                    $("#txtDepartment").val('');
                    $("#txtMobile").val('');
                    $("#txtCountry").empty();
                    $("#txtState").empty();
                    $("#txtCity").empty();
                    var items = '<option value="">Select Country</option>';
                    var item1 = '<option value="">Select State</option>';
                    var item2 = '<option value="">Select City</option>';
                    $.each(data, function (i, countrylist) {
                        items += "<option value='" + countrylist.Value + "'>" + countrylist.Text + "</option>";
                    });
                    $('#txtCountry').html(items);
                    $('#txtState').append(item1);
                    $('#txtCity').append(item2);
                    $("#EmployeeList").load(" #EmployeeList");
                    $('#myModal').modal('hide');
                }
            });
        });

    });
</script>

<form>
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="txtName" id="txtName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Department</label>
        <input type="text" name="txtDepartment" id="txtDepartment" class="form-control" />
    </div>
    <div class="form-group">
        <label>Mobile</label>
        <input type="text" name="txtMobile" id="txtMobile" class="form-control" />
    </div>

    <div class="form-group">
        <div>
            <label>Country</label>
        </div>
        <div>
            <select name="txtCountry" id="txtCountry" class="form-control" style="display:inline-block;">
                <option value="">Select Country</option>
                @foreach (var data in ViewBag.CountryList)
                {
                    <option value="@data.CountryId">@data.Country1</option>
                }
            </select>
            <button type="button" id="btnCountryClick" data-toggle="modal" class="btn btn-info" data-target="#myModalCountry">
                Add Country
            </button>
            @*@Html.DropDownList("PriorityID", (IEnumerable<SelectListItem>)ViewBag.PriorityID,"Select Country", new { @class = "dropdown" })*@
        </div>

    </div>
    <div class="form-group">
        <label>State</label>
        <select name="txtState" id="txtState" class="form-control">
            <option value="">Select State</option>
        </select>
    </div>
    <div class="form-group">
        <label>City</label>
        <select name="txtCity" id="txtCity" class="form-control">
            <option value="">Select City</option>
        </select>
    </div>
    @*<input type="button" name="btnInsert" value="Insert" id="btnInsert" data-dismiss="modal" class="btn btn-default" />*@
    <input type="button" name="btnInsert" value="Insert" id="btnInsert" class="btn btn-default" />
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</form>

<!-- Modal -->
@*<div class="modal fade" id="myModalCountry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Insert Country</h4>

            </div>
            <div class="modal-body">
                @Html.Partial("_AddCountry")
            </div>
        </div>
    </div>
</div>*@
